<div class="post-meta">
    {{#has tag="Info"}}
    {{else}}
    <span class="post-meta-item post-meta-date">
        <time datetime="{{date format="YYYY-MM-DD"}}">
            {{date published_at}}
        </time>
    </span>
    {{/has}}
    {{#if tags}}
        <span class="post-meta-item post-meta-tags">
            {{#foreach tags}}
                <a class="post-tag post-tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a>
            {{/foreach}}
        </span>
    {{/if}}
</div>