{{!< default}}

{{#post}}

<main class="site-main">
    <article class="{{post_class}} single">

        {{#if og_description}}
            <div class="gh-outer">
                {{> "player"}}
            </div>
        {{else}}
            <header class="post-header gh-canvas">
                {{> "post-meta"}}
                <h1 class="post-title">{{title}}</h1>
                {{#has tag="Info"}}
                {{else}}
                {{> "feature-image"}}
                {{/has}}
            </header>
        {{/if}}

        <div class="post-content gh-content gh-canvas">
            {{content}}
        </div>

    </article>
</main>

{{/post}}